.integrals {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.integrals .integral {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1 1 300px;
}

.integrals .integral .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 0.5rem;
    
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.integrals .integral:hover .links {
    opacity: 1;
}

.integrals .integral .links .logo {
    width: 1.3rem;
}

.integrals .integral .links .wolfree {
    filter: hue-rotate(180deg);
}
