body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #222;
    font-family: "Computer Modern", serif;
    text-align: center;

    background-color: #e2e2e2;
    margin: 2rem;
}


@media print {
    body {
        margin: 0;
        padding: 0;
    }

    .title {
        margin-bottom: 1rem;
    }
    .title h1 {
        font-size: 2rem !important;
        margin: 0 !important;
        padding: 0;
    }

    .integral-category{
        padding: 0 !important;
        margin: 0 !important;
    }

    .integral-group {
        gap: 0.2rem !important;
        break-inside: avoid !important;
        padding: 0 !important;
        grid-template-columns: 1fr 1fr !important;

        margin-bottom: 0 !important;
    }
    .integral {
        font-size: 0.75rem !important;
        break-inside: avoid !important;
        justify-content: flex-start !important;
    }

    .no-print {
        display: none !important;
    }
}