---
import '../styles/index.css';

import Title from '../components/Title/Title';
import Integrals from '../components/Integrals/Integrals';
---

<html>
	<meta charset="utf-8" />
	<link rel="icon" href={`${Astro.url}favicon.ico`} />
	<style>
		@font-face {
			font-family: 'Computer Modern';
			src: url("/Computer Modern Serif\.ttf") format('truetype');
		}
	</style>
	<link
		href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.0/katex.min.css"
		rel="stylesheet"
	/>

	<body>
		<Title />
		<Integrals baseurl={Astro.url}/>
	</body>
</html>
